header{
  height: 50px;
  color : red;
  /* background-color : black; */
 
  text-align: center;
}



.city-container{

  /* width : 50%; */
  width : 90%;
  /* margin-left: 50%; */

  display : flex;
  justify-content: center;
  flex-wrap: wrap;
  margin : auto;
}


.card{

  width : 300px;
  /* background-color: aqua; */
  
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin : 20px;
  padding-bottom : 10px;
  

}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4)
}